:root {
    --primary-color: #ff22e0;
    --secondery-color: #7c0d6c;
    --background-color: #ff22e038;
    --light-background-color: #ecd9e9;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: rgb(236, 236, 236);
    box-sizing: border-box;
    overflow-x: hidden;
}

#watermark {
    display: none;
}

.container {
    padding: 0 100px;
}

svg {
    fill: #ff22e0;
}

@media only screen and (max-width: 590px) {
    .container {
        padding: 0;
    }
}

h4 {
    font-size: 1.2em;
    color: var(--primary-color);  
}

@media only screen and (max-width: 1424px) {
    h4 {
        margin: 20px 0 0 0;  
    }
}

@media only screen and (max-width: 990px) {
    h4 {
        margin: 20px 0 10px 0;  
    }
}

p {
    color: var(--secondery-color);
}

.pd-t {
    padding-top: 80px;
}

.pd-b {
    padding-bottom: 80px;
}

@media only screen and (max-width: 990px) {
    .pd-t {
        padding-top: 60px;
    }
    
    .pd-b {
        padding-bottom: 60px;
    }
}

.sub-title {
    font-size: 1.3em;
    color: var(--primary-color);
}

.title {
    font-size: 2.5em;
    color: var(--primary-color);
}

.sub-section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style: none;
}

.page-header {
    padding: 10px 35px;
    background-color: var(--secondery-color);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    top: 0;
    height: 70px;
    color: #fff;
}

.page-header-logo img {
    height: 75px;
}

.page-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header-logo {
    flex-grow: 10;
}

.bi-search {
    color: white;
}

.bi-list {
    color: white;
}

.page-header-toggle {
  font-size: 2em;
  flex-grow: 1;
  text-align: center;
}

.search-icon-responsive {
    display: block;
    flex-grow: 1;
    text-align: center;
}

.navigation-item {
  padding: 0 25px;
}

.navigation {
    opacity: 0.5;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    z-index: 1;
  }
  
  .navigation-visible {
    opacity: 1;
    height: 200px;
    width: 70%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px 20px;
    position: absolute;
    top: 74px;
    z-index: 2;
    border-radius: 0px 0px 15px 15px;
    transition: 0.5s;
  }

  .navigation-visible li:hover {
    color: #313131;
  }

.search-icon {
    display: none;
}

@media only screen and (min-width: 1080px) {
  .page-header {
    display: flex;
    align-items: center;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 100;
  }
  .page-header-top {
    margin-right: auto;
  }
  .page-header-top, .page-header-bottom {
    display: block;
  }
  .page-header-toggle {
    display: none;
  }

  .search-icon {
    display: block;
}

.search-icon-responsive {
    display: none;
}

  .navigation {
    display: block;
    opacity: 1;
    height: auto;
    margin-right: 50px;
  }
  .navigation-item {
    opacity: 0.8;
    display: inline-block;
    transition: 0.3s;
  }
  .navigation-item:hover {
    cursor: pointer;
    opacity: 1;
    font-weight: 500;
  }
}

@media only screen and (max-width: 400px) {

    .page-header-logo img {
        height: 60px;
    }

    .page-header-logo {
        flex-grow: 9;
    }

    .page-header-toggle {
    font-size: 1.3em;
    flex-grow: 1;
    text-align: center;
    }

    .search-icon-responsive {
        flex-grow: 1;
    }
}

/* hero */
.hero-main-section {
    background-color: var(--background-color);
    height: 700px;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 630px;
}

.hero-section .sub-section-one .sub-title {
    margin: 0;
}

.hero-section .sub-section-one .title {
    margin: 0 0 30px 0;
}

.hero-section .sub-section-one .hero-content {
    font-size: 1.1em;
    line-height: 25px;
    font-weight: 500;
    color: var(--secondery-color);
}

.hero-section .sub-section-one .hero-list {
    margin: 50px 0;
    padding-left: 0;
    list-style: none;
    color: var(--secondery-color);
}

.hero-section .sub-section-one .hero-list li{
    line-height: 35px;
    font-weight: 400;
}

.hero-section .sub-section-one .hero-btn {
    text-decoration: none;
    padding: 15px 25px;
    background-color: var(--primary-color);
    width: 150px;
    color: white;
    font-weight: 500;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.5s;
}

.hero-section .sub-section-one .hero-btn i{
    font-size: 18px;
}

.hero-section .sub-section-one .hero-btn:hover {
    color: var(--primary-color);
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0);
}

.hero-section .sub-section-two img {
    height: 600px;
    border-radius: 5%;
    margin-left: 50px;
    animation: up-down 3s infinite linear;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(16%);
    }
}

@media only screen and (max-width: 1424px) {
    .hero-main-section {
        background-color: var(--background-color);
        height: 600px;
    }
    
    .hero-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 530px;
    }

    .hero-section .sub-section-two img {
        height: 500px;
        border-radius: 5%;
        margin-left: 50px;
        animation: up-down 3s infinite linear;
    }

    .hero-section .sub-section-one .sub-title {
        margin: 0;
    }
    
    .hero-section .sub-section-one .title {
        margin: 0;
    }

    .hero-section .sub-section-one .hero-list {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 990px) {
    .hero-main-section {
        background-color: var(--background-color);
        height: 1128px;
    }

    .hero-section {
        display: grid;
        grid-template-columns: 1fr;
        height: 630px;
    }

    .hero-section .sub-section-one {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-section .sub-section-one .hero-content {
        text-align: center;
    }

    .hero-section .sub-section-one .hero-list {
        margin: 25px 0;
    }

    .hero-section .sub-section-two {
        display: flex;
        justify-content: center;
    }

    .hero-section .sub-section-two img {
        height: 500px;
        margin: 10px 0px 50px 0;
    }
}

@media only screen and (max-width: 590px) {

    .hero-main-section {
        height: 920px;
    }

    .hero-section {
        display: grid;
        grid-template-columns: 1fr;
        height: 630px;
    }

    .hero-section .sub-section-one {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-section .sub-section-one .hero-content {
        font-size: 1em;
        line-height: 20px;
        font-weight: 500;
        color: var(--secondery-color);
    }

    .hero-section .sub-section-one .hero-content {
        text-align: center;
    }

    .hero-section .sub-section-one .hero-list {
        margin: 10px 0 15px;
    }

    .hero-section .sub-section-two {
        display: flex;
        justify-content: center;
    }

    .hero-section .sub-section-two img {
        height: 350px;
        margin: 10px 0px 50px 0;
    }   
}

/* .second-section */
.second-section-title .sub-title {
    margin: 0;
}

.second-section-title .title {
    margin: 0;
}

.second-section-title {
    text-align: center;
}

.second-section .section-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-items .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    border: 1px solid var(--secondery-color);
    border-radius: 10px;
}

.section-items .item .icon {
    background-color: #e5b0de;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-items .item .icon i {
    color: var(--primary-color);
}

.section-items .item p {
    text-align: center;
    color: var(--secondery-color);
}

.second-section-btn {
    text-align: center;
}

.default-btn {
    text-decoration: none;
    padding: 15px 25px;
    background-color: var(--primary-color);
    width: 150px;
    color: white;
    font-weight: 500;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.5s;
}

.default-btn i{
    font-size: 18px;
}

.default-btn:hover {
    color: var(--primary-color);
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 990px) {
    .second-section .section-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .third-section .sub-section-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-items .item p {
        margin-top: 0;
    }
}

@media only screen and (max-width: 590px) {
    .second-section .section-items {
        display: grid;
        grid-template-columns: 1fr;
    }

    .second-section .sub-section-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-items .item p {
        margin-top: 0;
    }
}


/* third-section */
.third-section {
    background-color: var(--light-background-color);
}

.third-section-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sub-section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-section .sub-section-one .sub-title {
    margin: 0;
}

.third-section .sub-section-one .title {
    margin: 0 0 30px 0;
}

.third-section h4 {
    margin: 10px 0;
}

.sub-section-one .list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sub-section-one .list-content .item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.sub-section-one .list-content .icon {
    position: absolute;
    background-color: #e5b0de;
    width: 65px;
    height: 65px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-section-one .list-content .content {
    margin-left: 100px;
}

.third-section .sub-section-one .hero-btn {
    text-decoration: none;
    padding: 15px 25px;
    background-color: var(--primary-color);
    width: 150px;
    color: white;
    font-weight: 500;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 20px;
}

.third-section .sub-section-one .hero-btn:hover {
    color: var(--primary-color);
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0);
}

.img-section {
    position: relative;
    overflow: hidden;
}

.third-section-first-img img {
    position: absolute;
    height: 650px;
    width: auto;
    left: 250px;
}

.third-section-title .sub-section-two .third-section-second-img img {
    height: 450px;
    width: auto;
    border-radius: 5%;
    margin-left: 50px;
    animation: up-down-second 5s infinite linear;
}

@keyframes up-down-second {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15%);
    }
}

@media only screen and (max-width: 1424px) {

    .third-section {
        background-color: var(--light-background-color);
    }
    
    .third-section-title {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .third-section-first-img img {
        position: absolute;
        height: 550px;
        left: 250px;
    }

    .third-section-title .sub-section-two .third-section-second-img img {
        height: 450px;
        border-radius: 5%;
        margin-left: 30px;
        animation: up-down-second 5s infinite linear;
    }

    @keyframes up-down-second {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(13%);
        }
    }

    .third-section .sub-section-one .sub-title {
        margin: 0;
    }
    
    .third-section .sub-section-one .title {
        margin: 0 0 15px 0;
    }

}

@media only screen and (max-width: 990px) {

    .third-section-title {
        display: grid;
        grid-template-columns: 1fr;
    }

    .third-section .img-section {
        height: 550px;
    }

    .third-section-first-img img {
        position: absolute;
        height: 500px;
        left: 250px;
        margin-top: 50px;
    }

    .third-section-title .sub-section-two .third-section-second-img img {
        height: 400px;
        margin-top: 50px;
        animation: up-down-second 5s infinite linear;
    }

    @keyframes up-down-second {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(24%);
        }
    }
}

@media only screen and (max-width: 590px) {
    .third-section .sub-section-one .title {
        text-align: center;
    }

    .sub-section-one .list-content {
        margin-top: 50px;
    }

    .sub-section-one .list-content .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0;
    }

    .sub-section-one .list-content .content {
        text-align: center;
        margin-left: 0px;
        margin-top: 55px;
        margin-bottom: 35px;
    }

    .third-section .img-section {
        height: 550px;
    }

    .third-section-first-img img {
        display: none;
    }

    .third-section-second-img {
        display: flex;
        justify-content: center;
    }

    .third-section-title .sub-section-two .third-section-second-img img {
        height: 400px;
        margin-top: 50px;
        margin-left: 0;
        animation: up-down-second 5s infinite linear;
    }

    @keyframes up-down-second {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(24%);
        }
    }
}

/* fourth-section */
.fourth-section-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fourth-section .sub-section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourth-section .sub-section-two .sub-title {
    margin: 0;
}

.fourth-section .sub-section-two .title {
    margin: 0 0 30px 0;
}

.fourth-section h4 {
    margin: 10px 0;
}

.sub-section-two .list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sub-section-two .list-content .item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.sub-section-two .list-content .icon {
    position: absolute;
    background-color: #e5b0de;
    width: 65px;
    height: 65px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-section-two .list-content .content {
    margin-left: 100px;
}

.fourth-section .sub-section-two .hero-btn {
    text-decoration: none;
    padding: 15px 25px;
    background-color: var(--primary-color);
    width: 150px;
    color: white;
    font-weight: 500;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 20px;
}

.fourth-section .sub-section-two .hero-btn:hover {
    color: var(--primary-color);
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0);
}


.fourth-section .img-section {
    position: relative;
    overflow: hidden;
}

.fourth-section-second-img img {
    height: 610px;
    width: auto;
}

.fourth-section-first-img img {
    position: absolute;
    height: 550px;
    width: 420px;
    left: 150px;
}


.fourth-section-title .sub-section-two .fourth-section-first-img img {
    height: 420px;
    width: auto;
    border-radius: 5%;
    margin-left: 160px;
    animation: up-down-fourth 5s infinite linear;
}


@keyframes up-down-fourth {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(43%);
    }
}

@media only screen and (max-width: 1424px) {

    .fourth-section-title {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .fourth-section-second-img img {
        height: 550px;
        width: auto;
    }

    .fourth-section-first-img img {
        position: absolute;
        height: 550px;
        width: auto;
        left: 170px;
    }

    .fourth-section-title .sub-section-two .fourth-section-first-img img {
        position: absolute;
        left: 170px;
        height: 390px;
        width: auto;
        border-radius: 5%;
        margin-left: 50px;
        animation: up-down-fourth 5s infinite linear;
    }
    
    
    @keyframes up-down-fourth {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(40%);
        }
    }

    .fourth-section .sub-section-two .sub-title {
        margin: 0;
    }
    
    .fourth-section .sub-section-two .title {
        margin: 0;
    }

    .fourth-section .sub-section-one .hero-list {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 990px) {
    .fourth-section-title {
        display: grid;
        grid-template-columns: 1fr;
    }

    .fourth-section .sub-section-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fourth-section .img-section {
        display: none;
    }

    .fourth-section .sub-title {
        text-align: center;
    }

    .fourth-section .sub-section-two .title {
        text-align: center;
    }
}

@media only screen and (max-width: 590px) {
    .fourth-section .sub-section-two .title {
        text-align: center;
    }

    .sub-section-two .list-content {
        margin-top: 50px;
    }

    .fourth-section .sub-section-two {
        margin-right: 0px;
    }

    .sub-section-two .list-content .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0;
    }

    .sub-section-two .list-content .content {
        text-align: center;
        margin-left: 0px;
        margin-top: 55px;
        margin-bottom: 35px;
    }
    
}


/* Testimonial */
.testimonial {
    background-color: var(--light-background-color);
}

.testimonial .sub-title {
    text-align: center;
    margin: 0;
}

.testimonial .title {
    text-align: center;
    margin: 0 0 30px 0;
}

.feedback {
    margin-top: 70px;
}

.feedback .tag .tag-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feedback .tag .tag-items .active {
    margin: 25px;
    border-bottom: 3px solid var(--primary-color);
}

.feedback .tag .tag-items .tag-link {
    text-decoration: none;
    padding: 0 15px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.3em;
}
.feedback-msg {
    position: relative;
}

.msg p {
    padding: 20px 130px;
    text-align: center;
    line-height: 25px;
}

.arrow button {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #ff22e0;
    margin: auto;
    top: -2em;
	bottom: 0;
    cursor: pointer;
    border-radius: 15%;
    border: none;
    transition: 0.3s;
}

.arrow svg {
    fill: white;
}

.arrow button:hover {
    transform: scale(1.1);
}

button#next {
	right: -1.1em;
    box-shadow: #9b9b9b 1px 1px 9px 0px;
}
button#prev {
	left: -1.1em;
    box-shadow: #9b9b9b 1px 1px 9px 0px;
}

.feedback-msg .msg {
    display: none;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.feedback-msg .msg.active {
    display: block;
    opacity: 1;
}

.tag .tag-items .item {
    transition: opacity 0.5s ease;
    opacity: 0.5;
}

.tag .tag-items .item.active {
    opacity: 1;
}


@media only screen and (max-width: 990px) {
    .responsive-container {
        padding: 0 10px;
    }

    .tag-items img, .tag-link {
        width: 15%;
    }

    .feedback .tag .tag-items .tag-link {
        text-decoration: none;
        padding: 0 15px;
        color: var(--primary-color);
        font-weight: 600;
        font-size: 1em;
    }

    .feedback .tag .tag-items {
        flex-wrap: wrap;
    }

    .feedback {
        margin-top: 35px;
    }

    .feedback .tag .tag-items .active {
        margin: 20px;
        border-bottom: 2px solid var(--primary-color);
    }

    .msg p {
        padding: 20px 130px;
        text-align: center;
        line-height: 20px;
        font-size: 0.8em;
    }

    button#next {
        right: 1em;
    }
    button#prev {
        left: 1em;
    }
}

@media only screen and (max-width: 590px) {

    .feedback .tag .tag-items {
        flex-wrap: wrap;
    }

    .msg p {
        padding: 55px 0px;
        text-align: center;
        line-height: 16px;
    }

    .arrow button {
        width: 45px;
        height: 45px;
    }

    button#next {
        right: 5em;
        top: 20em;
    }
    button#prev {
        left: 5em;
        top: 20em;
    }

}

/* App */
.app-area .title {
    text-align: center;
    margin-top: 0;
}

.app-text-area p{
    padding: 10px 150px 50px;
    text-align: center;
}

.img-area {
    display: flex;
    justify-content: center;
}

.img-area img {
    margin: 0px 20px;
}

@media only screen and (max-width: 990px) {
    .app-text-area p{
        padding: 10px 60px 25px;
        text-align: center;
    }
}

@media only screen and (max-width: 590px) {
    .app-text-area p{
        padding: 10px 25px 25px;
        text-align: center;
        line-height: 20px;
    }

    .img-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-area img {
        padding: 20px;
        width: 250px;
    }
}

/* main-footer */
.main-footer {
    background-color: var(--light-background-color);
    border-top: 2px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
}

.main-footer .footer-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo img {
    height: 75px;
}

.footer-menu .footer-menu-items {
    display: flex;
    list-style: none;
}

.footer-menu .footer-menu-items a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9em;
    color: var(--secondery-color);
    font-weight: 600;
    transition: 0.3s;
}

.footer-menu .footer-menu-items a:hover {
    color: var(--primary-color);
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    margin: 0 12px;
    color: var(--secondery-color);
    font-size: larger;
    transition: 0.3s;
}

.social-media a:hover {
    color: var(--primary-color)
}

@media only screen and (max-width: 590px) {
    .footer-menu .footer-menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0px;
    }

    .footer-menu-items li {
        padding: 10px 0;
    }

    .social-media {
        margin-top: 30px;
    }
}

/* copy-right */
.copy-right {
    background-color: var(--light-background-color);
}

.copy-right .copy-right-content {
    text-align: center;
    padding: 20px 0;
}

@media only screen and (max-width: 990px) {
    .main-footer .footer-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.testimonial-print {
    display: none;
}